*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

.container{
    width: 98%;
    height: 86v\h;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-box{
  color: #2e2c2c;
  position: absolute;
  bottom: 20%;
}

.text-box p{
    font-size: 50%;
    font-weight: 600;
}

.text-box h1{
    font-size: 170px;
    line-height: 160px;
    margin-left: 100px;
    color: transparent;
    -webkit-text-stroke: 1.8px #201e1e;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}



